{% extends 'base.html' %}
{% block content %}
    <div class="row"><div class="col">
        <h1>Receipt</h1>
    </div></div>
    <div class="row"><div class="col">
Customer Name: {{ object.name }}

    </div>
    <div class="col">
Order Id: {{ object.order_id }}

    </div></div>
    <div class="row"><div class="col">
Total Items: {{ object.total_items }}

    </div>
    <div class="col">
Subtotal : Rs{{ object.sub_total }}

    </div></div>

    <div class="row"><div class="col">
        <hr/><br/>
    </div></div>
    <div class="row">
    <form action="" method="post">{% csrf_token %}
    <div class="col">{% if object.name is None %}Name {{ form.name }}<br/></div><div>{% endif %}
<br/>
<br/>

             <button type="submit" class="btn btn-primary"> Submit </button>
<br/>
    </form>
<div class="row"><div class="col">
        <br/><hr/>
    </div></div>

    </div>
<br/>

    <div class="row"><div class="col">
        <a href="{% url 'receipt:print-receipt' %}" class="btn btn-success">Print</a>
    </div></div>

{% endblock %}
